extends layout

block content
  h1= title
  p Welcome to #{title}
  my-app
  script. 
    System.config({
          defaultJSExtensions: true
    });
    System.paths = {
        'angular2/*':'/scripts/angular2/*.js', // Angular
        'rx':'/scripts/rx/dist/rx.js',
        'crypto':'/scripts/crypto-js/crypto-js.js',
        'reflect-metadata':'/scripts/reflect-metadata/Reflect.js',
        'app': 'app.js' // The my-app component
    };
    System.import('app');