extends layout

block content
  section.content
    div.col-md-12.col-xs-12.col-sm-12.col-lg-12
      div.panel.panel-primary
        div.panel-heading
          span.pull-left
            span.fa.fa-book.fa-2x
          h2 Disposition
        div(class="panel-body")
          div.input-group.search-input
            input.form-control(type="text" placeholder="Suche nach Disposition...")
            span.input-group-btn
              button.btn.btn-default(type='button')
                i.fa.fa-search
            span.input-group-btn
              button.btn.btn-default(type='button')
                i.fa.fa-plus
                     
          div.row.teaser-row
            div.col-md-4.col-xs-12.col-sm-6.col-lg-3
              div.teaser
                div.headline
                    h4
                      i.fa.fa-book.fa-lg
                      span D2015/626286
                div.teaser-content 
                 dl
                    dt Kundennummer
                    dd K653289
                    dt Adresse
                    dd MK-Trans-logistics, Str. 270 - 276, 47055 Duisburg
                    dt Rechnungsnummer
                    dd R437439
                    dt Referenznummer
                    dd 2389908324
            div.col-md-4.col-xs-12.col-sm-6.col-lg-3
              div.teaser
                div.headline
                    h4
                      i.fa.fa-book.fa-lg
                      span D2015/626286
                div.teaser-content 
                 dl
                    dt Kundennummer
                    dd K653289
                    dt Adresse
                    dd MK-Trans-logistics, Str. 270 - 276, 47055 Duisburg
                    dt Rechnungsnummer
                    dd R437439
                    dt Referenznummer
                    dd 2389908324
            div.col-md-4.col-xs-12.col-sm-6.col-lg-3
              div.teaser
                div.headline
                    h4
                      i.fa.fa-book.fa-lg
                      span D2015/626286
                div.teaser-content 
                 dl
                    dt Kundennummer
                    dd K653289
                    dt Adresse
                    dd MK-Trans-logistics, Str. 270 - 276, 47055 Duisburg
                    dt Rechnungsnummer
                    dd R437439
                    dt Referenznummer
                    dd 2389908324
            
            div.col-md-4.col-xs-12.col-sm-6.col-lg-3
              div.teaser
                div.headline
                    h4
                      i.fa.fa-book.fa-lg
                      span D2015/626286
                div.teaser-content 
                 dl
                    dt Kundennummer
                    dd K653289
                    dt Adresse
                    dd MK-Trans-logistics, Str. 270 - 276, 47055 Duisburg
                    dt Rechnungsnummer
                    dd R437439
                    dt Referenznummer
                    dd 2389908324
            div.col-md-4.col-xs-12.col-sm-6.col-lg-3
              div.teaser
                div.headline
                    h4
                      i.fa.fa-book.fa-lg
                      span D2015/626286
                div.teaser-content 
                 dl
                    dt Kundennummer
                    dd K653289
                    dt Adresse
                    dd MK-Trans-logistics, Str. 270 - 276, 47055 Duisburg
                    dt Rechnungsnummer
                    dd R437439
                    dt Referenznummer
                    dd 2389908324
            div.col-md-4.col-xs-12.col-sm-6.col-lg-3
              div.teaser
                div.headline
                    h4
                      i.fa.fa-book.fa-lg
                      span D2015/626286
                div.teaser-content 
                 dl
                    dt Kundennummer
                    dd K653289
                    dt Adresse
                    dd MK-Trans-logistics, Str. 270 - 276, 47055 Duisburg
                    dt Rechnungsnummer
                    dd R437439
                    dt Referenznummer
                    dd 2389908324
            div.col-md-4.col-xs-12.col-sm-6.col-lg-3
              div.teaser
                div.headline
                    h4
                      i.fa.fa-book.fa-lg
                      span D2015/626286
                div.teaser-content 
                 dl
                    dt Kundennummer
                    dd K653289
                    dt Adresse
                    dd MK-Trans-logistics, Str. 270 - 276, 47055 Duisburg
                    dt Rechnungsnummer
                    dd R437439
                    dt Referenznummer
                    dd 2389908324
            
          my-app 
 
 
  script. 
    System.config({
          defaultJSExtensions: true
    });
    System.paths = {
        'angular2/*':'/scripts/angular2/*.js', // Angular
        'rx':'/scripts/rx/dist/rx.js',
        'crypto':'/scripts/crypto-js/crypto-js.js',
        'reflect-metadata':'/scripts/reflect-metadata/Reflect.js',
        'app': 'app/app.js' // The my-app component
    };
    System.import('app');