doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='/scripts/traceur/bin/traceur.js')
    script(src='/scripts/es6-module-loader/dist/es6-module-loader.js')
    script(src='/scripts/systemjs/dist/system.js')
    script(src='/scripts/angular2/es6/dev/angular2.js')
    
  body
    block content