doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/traceur-runtime.js')
    script(src='/javascripts/system@0.16.11.js')
    script(src='/javascripts/angular2.dev.js')
  body
    block content